
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Neiljun Odiaz | Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

    <div class="full_screen_bg"></div>

	<div class="content-wrapper" id="portfolio">

        <div class="toggle_menu">
            <a href="" class="btn"><i class="fa fa-bars"></i> Menu</a>
        </div>

		<div class="Header">
            <a href="#" class="close_btn"><i class="fa fa-close"></i></a>
			<div class="Header__nav wrap">
                <div class="Header__name">Neil <strong>Odiaz</strong></div>
				<ul class="Header__navlist">
					<li class="Header__navitem"><a href="#" data-section="profile" class="Header__navlink">About Me</a></li>
					<li class="Header__navitem"><a href="#" data-section="skills" class="Header__navlink">Skills</a></li>
					<li class="Header__navitem"><a href="#" data-section="projects" class="Header__navlink">Projects</a></li>
					<li class="Header__navitem"><a href="#" data-section="contact" class="Header__navlink">Contact</a></li>
				</ul>
                <a href="./downloadable/OdiazNeiljunResume.pdf" target="_blank" class="Header__btnlink"><i class="fa fa-download"></i> Download Resume</a>
                <!-- <a href="mailto:neiljun.odiaz@gmail.com" target="_blank" class="Header__btnlink"><i class="fa fa-envelope-o"></i> Send me message</a> -->
			</div>
		</div>

		<div class="Body">

			<div class="Body__content col-md-12 col-sm-12 col-xs-12">

				<div class="Body__progressbg hidden-sm hidden-xs">&nbsp;</div>
				<div class="Body__leftside hidden-sm hidden-xs">&nbsp;</div>
				<div class="Body__rightside hidden-sm hidden-xs">&nbsp;</div>

				<div class="Body__top-colors">
					<div class="Body__top-color top__color1"></div>
					<div class="Body__top-color top__color2"></div>
					<div class="Body__top-color top__color3"></div>
					<div class="Body__top-color top__color1"></div>
					<div class="Body__top-color top__color2"></div>
				</div>

				<div class="Top Body__section">
                    <div class="bg">&nbsp;</div>
					<div class="wrap">
						<a href="./downloadable/OdiazNeiljunResume.pdf" target="_blank" class="Top__buttons resume">
							<i class="fa fa-download"></i>
							<span class="text">Download Resume</span>
						</a>
						<!-- <a href="mailto:neiljun.odiaz@gmail.com" class="Top__buttons email"> -->
							<i class="fa fa-envelope-o"></i>
							<span class="text">Send Me Message</span>
						</a>
					</div>
				</div>

				<div class="Aboutme Body__section" id="profile">
					<div class="wrap">
						<div class="row">
							<div class="col-md-3">
								<div class="Aboutme__photo">
									<img class="Aboutme__photo_img" src="./images/My-Photo.jpg">
								</div>
							</div>
							<div class="col-md-8 Aboutme__info">
								<div class="col-md-offset-0">
									<h1 class="Aboutme__headline">Hi, I'm <span class="highlight">Neil Odiaz.</span></h1>
									<h2 class="Aboutme__headline2">Web Developer</h2>
									<h4 class="Aboutme__desc">An energetic and imaginative young web developer who is able to work alongside other talented IT professionals in creating websites to the very highest standards  with years of professional experience in a variety of exciting projects. Neil is much experience of creating logical and innovative solutions to complex problems.</h4>
									<h4 class="Aboutme__desc">As someone who takes responsibility for his own personal development, he is continually evaluating and upgrading his skills so that he stays at the cutting edge of web development.</h4>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="Profile Body__section">
					<div class="wrap">
						<div class="row">
							<div class="timeline-margin">
								<div class="timeline-image headline">&nbsp;</div>
								<div class="timeline-desc">
									<h2 class="section-title">Profile</h2>
								</div>
							</div>
							<div class="timeline-margin">
								<div class="timeline-image point">&nbsp;</div>
								<div class="timeline-desc">
									<h3 class="section-subtitle">Full Name</h3>
									<h3 class="Profile__value">Neiljun I. Odiaz</h3>
								</div>
							</div>
							<div class="timeline-margin">
								<div class="timeline-image point">&nbsp;</div>
								<div class="timeline-desc">
									<h3 class="section-subtitle">Born</h3>
									<h3 class="Profile__value">Gusa, Cagayan de Oro City, 9000 Philippines</h3>
								</div>
							</div>
							<!-- <div class="timeline-margin">
								<div class="timeline-image point">&nbsp;</div>
								<div class="timeline-desc">
									<h3 class="section-subtitle">Mail</h3>
									<h3 class="Profile__value">neiljun.odiaz@gmail.com</h3>
								</div>
							</div> -->
						</div>
					</div>
				</div>

				<div class="Skills Body__section" id="skills">
					<div class="wrap">
						<div class="row">
							<div class="timeline-margin">
								<div class="timeline-image headline">&nbsp;</div>
								<div class="timeline-desc">
									<h2 class="section-title">Core Skills</h2>
								</div>
							</div>

							<coreskills :skillsets="myskillsets"></coreskills>

						</div>
					</div>
				</div>

				<div class="Project Body__section" id="projects">
					<div class="wrap">
						<div class="row">
							<div class="timeline-margin">
								<div class="timeline-image headline">&nbsp;</div>
								<div class="timeline-desc">
									<h2 class="section-title">Projects</h2>
								</div>
							</div>
							<div class="timeline-margin">
								<div class="timeline-image work">&nbsp;</div>
								<div class="timeline-desc">
									<h3 class="section-subtitle">Recent Works</h3>

                                    <!-- <h4>I can't yet display my works here, but stay tune ;)</h4> -->
                                    <latestworks :works="myworks"></latestworks>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="Contact Body__section" id="contact">
					<div class="wrap">
						<div class="row">
							<div class="timeline-margin">
								<div class="timeline-image headline">&nbsp;</div>
								<div class="timeline-desc">
									<h2 class="section-title">Contact</h2>
								</div>
							</div>
							<div class="timeline-margin">
								<div class="timeline-image email">&nbsp;</div>
								<div class="timeline-desc">
									<h3 class="section-subtitle">Get in touch</h3>
									<div class="Contact__description">
										<p>Got a project you would like me to work on? Or maybe have something interesting to share? Cool!</p>
										<p>Email me at <a href="mailto:neiljun.odiaz@gmail.com" class="link">[neiljun.odiaz@gmail.com]</a>, then we'll grab a cup of coffee. Who knows we're gonna be best buds :)</p>
										<p>You can also download my CV <a href="./downloadable/OdiazNeiljunResume.pdf" target="_blank" class="link">[here]</a>.</p>
									</div>
								</div>
							</div>
							<div class="timeline-margin">
								<div class="timeline-image end">&nbsp;</div>
								<div class="timeline-desc">
									<h2 class="section-title">Have a nice day!</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="Footer Body__section">
					<div class="wrap">
						<div class="Footer__credit">
                            <div class="Footer__quote">
                                <h2>"First, solve the problem. Then, write the code."</h2>
                                <p>-John Johnson</p>
                            </div>
                            <div class="socials">
                                <a href="https://github.com/neiljun-odiaz" target="_blank" class="link"><i class="fa fa-github"></i></a>
                                <a href="https://ph.linkedin.com/in/neiljunodiaz" target="_blank" class="link"><i class="fa fa-linkedin"></i></a>
                            </div>
							<p>Copyright &copy; 2016 &nbsp; | &nbsp; Neiljun I. Odiaz</p>
						</div>
					</div>
				</div>

			</div>

            <div class="clearfix"></div>

		</div>

	</div>

    <div class="bg-overlay"></div>
    <div class="Modal">
        <div class="Modal__header">
            <h2>Project Details</h2>
        </div>
        <div class="close-btn"><i class="fa fa-close"></i></div>
        <div class="Modal__content"></div>
    </div>

    <template id="core-skills">
        <div>
            <div class="timeline-margin" v-for="skillset in myskillsets">
                <div class="timeline-image skill">&nbsp;</div>
                <div class="timeline-desc">
                    <h3 class="Skills__type">{{ skillset.name }}</h3>
                    <ul class="Skills__list">
                        <li class="Skills__item" v-for="(item, index) in skillset.skills">
                            <div class="progress">
                                <div class="progress-bar style1" :style="{ width: item.progress + '%' }">
                                    <span class="sr-only">{{ item.progress }}% Complete</span>
                                </div>
                                <span class="progress-type">{{ index }}</span>
                                <span class="progress-completed">{{ item.progress }}%</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </template>

    <template id="latest-works">
        <div>
            <div class="Project__list">
                <div class="Project__item d-1of3 t-1of3" v-for="(work, index) in myworks" :class="{ hidden: work.hidden }">
                    <img class="Project__image" :src="'./images/projects/' + work.thumbnail">
                    <div class="Project__description Project__showmodal">
                        <p><i class="fa fa-eye"></i></p>
                        <h3 class="Project__name">{{ work.name }}</h3>
                        <div class="modal_content">
                            <img class="project_image" :src="'./images/projects/styled/' + work.thumbnail">
                            <h1 class="project_title">{{ work.name }}</h1>
                            <p class="project_desc">{{ work.description }}</p>
                            <p class="project_company">Employer: <a :href="work.employer_url" target="_blank">{{ work.employer }}</a></p>
                            <p class="project_link" v-if="work.url">URL: <a :href="work.url" target="_blank">Visit site</a></p>
                            <p class="project_technology">Technology: {{ work.technology }}</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <a href="#" class="Project__more" :class="{ hidden : showmore }" @click.prevent="showMoreWorks()">View More</a>
            </div>
        </div>
    </template>

    <script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/vue-resource.min.js"></script>
	<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
